name: Integration Test
on:
    push:
      branches:
        - main
    workflow_dispatch:
        branches: [ main ]  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Self test
        id: selftest

        # Put your action repo here
        uses: briegel0/python_show_env_action@main
        with: 
           myInput: 'true'
            

      - name: Check outputs
        run: |
          echo " output ${{ steps.selftest.outputs.myOutput}}"
          test "${{ steps.selftest.outputs.myOutput }}" == "Hello world"
