name: Integration Test
on:
    push:
      branches:
        - main
    workflow_dispatch:
        branches: [ main ]  

env:
  workflow_env_var1: 'workflow env 1'
  workflow_env_var2: 'workflow env 2'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Self test
        id: selftest

        # Put your action repo here
        uses: briegel0/python_show_env_action@main
        with: 
           showGithubVars: 'true'
           listOfAppEnvVars: 'workflow_env_var1,workflow_env_var2'

      - name: Check outputs
        run: |
          echo " output ${{ steps.selftest.outputs.myOutput}}"
#         test "${{ steps.selftest.outputs.myOutput }}" == "Hello world"
